@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&family=Montserrat:wght@300;400;700;800;900&display=swap');

html, body, div, h1, h2, h3, h4, h5, h6, p,
a, ol, ul, li, form, table, article, aside, 
figure, figcaption, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
  background-image: url("images/MagicBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2C1041;
  color: white;
}

.creation_framework { /*UNIVERSAL CODE*/
  margin-left: 10%;
  margin-right: 10%;
}

/*-----Header CSS-----*/
header.header_framework {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 60px repeat(6, 1fr);
  height: 100vh;
}

h1 {
  grid-column: 1/4;
  grid-row: 4/6;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 5vw;
}

img.header_img {
  grid-column: 7/10;
  grid-row: 3/7;
  max-width: 100%;
  max-height: inherit;
}

nav.nav_framework {
  grid-column: 1/10;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

a.logo {
  grid-column: 4/5;
  justify-self: center;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.8em;
  color: white;
  text-decoration: none;
}

a.logo:hover {
  color: #f5d544;
  text-decoration: underline;
  text-decoration-color: #f5d544;
}

span.nav_icon {
  grid-column: 7/8;
  justify-self: right;
  align-self: center;
  font-size: 2em;
  cursor: pointer
}
/*-----End Header CSS-----*/

/*-----Head Framework CSS-----*/
section.magic_head_framework {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100vh;
}

.magic_head_framework h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3vw;
  grid-column: 1/4;
  grid-row: 2/4;
}

span.yellow_text {
  color: #f5d544;
}

span.yellow_text_larger {
  font-weight: 700;
  color: #f5d544;
}

.magic_head_framework p {
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
  text-align: right;
}

p#head_para_one {
  grid-column: 7/10;
  grid-row: 3/4;
}

p#head_para_two {
  grid-column: 7/10;
  grid-row: 4/5;
}
/*-----End Head Framework CSS-----*/

/*-----Secondary Framework CSS-----*/
section.magic_secondary_framework {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(11, 10.6em);
}

.magic_secondary_framework h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3vw;
}

.magic_secondary_framework p {
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
}

h2#secondary_h2 {
  grid-column: 7/10;
  grid-row: 1/3;
  text-align: right;
}

p#secondary_para_one {
  grid-column: 1/4;
  grid-row: 2/4;
}

p#secondary_para_two {
  grid-column: 1/4;
  grid-row: 4/6;
}

img.work_images {
  grid-column: 6/10;
  grid-row: 5/8;
  max-width: 100%;
  max-height: inherit;
}

.work_example_grid {
  grid-column: 1/3;
  grid-row: 7/12;
} 

h2#secondary_type_h2 {
  padding-bottom: .6em;
  color: #f5d544
}

.magic_secondary_framework ul {
  color: white;
  font-family: "Hind", sans-serif;
  font-size: 1.5vw;
  padding-left: 1.2em;
}

button.button_style {
  margin-top: 2em;
  height: 3.7em;
  width: 180px;
  font-family: "Hind", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 1em;
  color: #f5d544;
  padding-top: 2px;
  border: 1.5px solid #f5d544;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
}

button.button_style:hover {
  transition-duration: 0.4s;
  background-color: #f5d544;
  color: #2C1041;

}
/*-----End Secondary Framework CSS-----*/

/*-----Contact Form CSS-----*/
section.contact_form_framework {
  border: 1.8px solid white;
  border-radius: 2px;
  padding: 2em 6em;
}

section.contact_form_framework h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3vw;
}

section.contact_form_framework p {
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-size: 1.7vw;
}

form {
  font-family: "Hind", sans-serif;
}

.contact_form_framework ul {
  list-style: none;
  margin-top: 1em;
}

form li + li {
  margin-top: 1.3em;
}

/* label {
  display: inline-block;
  width: 100px;
  font-size: 1.4em;
  text-align: left;
} */

::placeholder {
  color: white;
  font-size: 1.3em;
  font-family: "Hind", sans-serif;
  font-weight: 700;
}

input, textarea {
  font: 1em "Hind", sans-serif;
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0.466);
  border: none;
  height: 2.5em;
}

textarea#msg {
  height: 6em;
}

input#name, input#mail {
  width: 50%;
}

button#submit_form {
  margin-top: .6em;
}
/*-----End Contact Form CSS-----*/

/*-----Footer Form CSS-----*/
.footer_framework { /*UNIVERSAL CODE*/
  display: grid;
  grid-template-columns: auto 160px;
  grid-template-rows: 70px;
  font-family: "Hind", sans-serif;
  font-size: 1.4vw;
}

hr { /*UNIVERSAL CODE*/
  border-color: white;
  margin-top: 1.5em;
}

.footer_framework p { /*UNIVERSAL CODE*/
  margin: auto 0;
}

.social { /*UNIVERSAL CODE*/
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto 0;
}

.social img { /*UNIVERSAL CODE*/
  height: 48px;
  padding: 3px;
}
/*-----End Footer Form CSS-----*/

/*-----Animated Nav CSS-----*/ /*UNIVERSAL CODE*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 14px;
  text-decoration: none;
  text-decoration-color: transparent;
  font-size: 4.5em;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f5d544;
  text-decoration: underline;
  text-decoration-color: #f5d544;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}